div.main-window {
    margin-left: 260px;
    margin-bottom: 30px;

}

.ui.ui.ui.container:not(.fluid) {
    margin-left: 400px;
}


div.side-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    /* opacity: 0.5; */
    background: #1B1C1D;
    background-image: linear-gradient(to bottom right, black, rgb(56, 53, 53));
    overflow-x: hidden;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}