.progress {
    border: 1px solid black;
    /* background-color: black; */
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
  }
  .progress-bar {
    background-color: green;
    height: 8px;
  }

  .player-buttons{
    display: flex;
    justify-content: center

  }

  .control-container {
    margin-top: 0;
    background-color: black;
    margin-left: 0
  }
