.segment.player-bar {
    display: flex;
    flex-direction: column;
}

.player-container {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 250px
}

.music-player {

    margin-top: 10px;
}

/* p:last-child {
    margin-left: 15px;
    margin-right: 1100px;
    color: #ededed;
} */

.song-details {
    margin-left: 15px;
    color: #ededed;
    font-size: 90%;
    /* margin-right: 1100px; */
}

.song-details strong {
    font-size: 130%;

}

img {
    margin-left: 10px;
}

.play-info {
    margin-bottom: 0px;
    position: relative;
    z-index: -5;
    width: 900px;

    /* background-color: black */
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    top: 1;
    bottom: 0;
    left: 0;
    width: 250px;
    /* opacity: 0.5; */
    margin-bottom: 120px;
    overflow-x: hidden;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
 }