.segment.player-bar {
    display: flex;
    flex-direction: column
}

.player-container {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.music-player {

    margin-top: 10px;
}

p:last-child {
    margin-left: 15px;
    margin-right: 1100px;
    color: #ededed
}

.song-details {
    margin-left: 15px;
    color: #ededed
}

img {
    margin-left: 10px
}

.play-info {
    margin-bottom: 0px;
    margin-right: 1100px;
    /* background-color: black */
 }